storage/data/schemas_xml/tagDefinition.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="root">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="id" nillable="true" minOccurs="0" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="created_at" minOccurs="0" type="xs:dateTime"/>
            <xs:element name="updated_at" minOccurs="0" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="root" type="root"/>
</xs:schema>



