public/xml/gameDefinition.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root"/>

    <xs:complexType name="root" >
        <xs:sequence>
            <xs:element name="appid" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="release_date" type="xs:date"/>
            <xs:element name="genres" type="xs:string"/>
            <xs:element name="steamspy_tags" type="xs:string"/>
            <xs:element name="positive_ratings" type="xs:int"/>
            <xs:element name="negative_ratings" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
